body {
    font-family: "Aller", "Open Sans", "Helvetica Neue", Helvetica, sans-serif;
}

/***** SET GENERAL PAPERS PAGE LAYOUT *****/

.navbar-brand {
    padding: 8px 15px;
    line-height: 34px;
}

.navbar-brand img {
    height: 32px;
    display: inline-block;
    vertical-align: top;
}

#papers-navbar {
    margin: 0;
    z-index: 100;
}

#papers-container {
    font-size: 95%;
}

#papers-col-left, #papers-col-middle, #papers-col-right, #papers-col-right-handle {
    position: absolute;
    top: 51px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#papers-col-left {
    left: 0;
    width: 30px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.075);
    border-right: 1px solid #ddd;
    background: white;
    z-index: 10;
}

#papers-col-middle {
    left: 0px;
    padding-left: 30px;
    width: 75%;
}

#papers-col-right {
    right: 0;
    width: 25%;
    box-shadow: -1px 1px 5px rgba(0,0,0,.075);
    border-left: 1px solid #ddd;
    z-index: 10;
}

#papers-col-right-handle {
    right: 25%;
    margin-right: -4px;
    width: 7px;
    cursor: ew-resize;
    z-index: 1000;
}

#papers-col-right-open {
    position: absolute;
    top: 58px;
    right: 0;
    font-size: 13px;
    padding: 3px 5px;
    background: #7B7B7B;
    color: #FFF;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    z-index: 100;
}

/***** LEFT COLUMN (TAGS) *****/

.all-groups, .no-groups {
    cursor: pointer;
    font-weight: bold;
}

#papers-col-left-container, #papers-col-left:hover {
    width: 200px;
}

#papers-col-left .label-small {
    display: inline;
    padding-left: 40px;
}

#papers-col-left:hover .label-small {
    display: none;
}

#papers-col-left .group-link {
    cursor: pointer;
    opacity: 0.3;
}

#papers-col-left ul li.group-filter-active {
    opacity: 1;
}

#papers-col-left h3 {
    margin: 7px 0 5px 7px;
    font-size: 17px;
    text-align: center;
}

#papers-col-left li {
    padding: 4px 10px;
}

#papers-col-left p {
    padding: 4px 10px;
}

/***** TABLE OF PAPERS *****/

#papers-table th {
    padding: 9px 0px 9px 8px;
    vertical-align: top;
}

#papers-table td {
    padding: 5px 0px 25px 8px;
}

#papers-table tr td:last-of-type {
    padding-right: 3px;
}

#papers-table .labels-list {
    position: absolute;
    height: 1.45em;
    width: 100%;
    margin-left: -8px;
    padding: 0 38px 0 8px;
}

#papers-table .labels-sublist {
    overflow-x: hidden;
    white-space: nowrap;
    height: 1.45em;
}

#papers-table .labels-sublist-left {
    width: 70%;
    display: inline-block;
}

#papers-table .labels-sublist-right {
    width: 27%;
    text-align: right;
    float: right;
    display: inline-block;
}

#papers-table .paper {
    cursor: pointer;
}

#papers-table tr.active td {
    background: #D9E4F7;
}

#papers-table .hspace {
    width: 30px;
    display: inline-block;
}

#papers-table .rating {
    font-size: 80%;
    width: 75px;
    display: inline-block;
}

#papers-table .date {
    color: #C8D0DF;
    font-size: 88%;
}

#papers-table .pdf {
    color: inherit;
}

#papers-table .pdf[href=""] {
    display: none;
}

/* Table sort */

th.sort-header {
    cursor:pointer;
}

table th.sort-header:after {
    content:'';
    float:right;
    margin-top:7px;
    border-width:0 4px 4px;
    border-style:solid;
    border-color:#404040 transparent;
    visibility:hidden;
}

table th.sort-header:last-child:after {
    margin-right: 4px;
}

table th.sort-header.text-right:after {
    margin-left: 5px;
}

table th.sort-header:hover:after {
    visibility:visible;
}

table th.sort-up:after, table th.sort-down:after, table th.sort-down:hover:after {
    visibility:visible;
    opacity:0.4;
}

table th.sort-up:after {
    border-bottom:none;
    border-width:4px 4px 0;
}

/******* RIGHT COLUMN (PAPER DETAILS) ******/


#papers-col-right-close {
    float: right;
    color: #A5A5A5;
    margin: 8px 10px 5px 5px;
    cursor: pointer;
}

#paper-wait {
    padding: 60px 20px 0;
    font-size: 37px;
    color: #ccc;
    text-align: center;
}

#paper-placeholder {
    padding: 60px 20px 0;
    font-size: 37px;
    color: #ddd;
    font-weight: 100;
    text-align: center;
    line-height: 1.15em;
}

#paper-details, #paper-bibtex, #paper-notes {
    padding: 8px;
}

#paper-bibtex h4, #paper-notes h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin: 0;
    color: #47597A;
}

#paper-bibtex hr, #paper-notes hr {
    max-width: 50px;
    border-color: #47597A;
    border-width: 3px;
    margin: 11px auto 18px;
}

#paper-bibtex-content {
    font-size: 80%;
}

#paper-details h4 {
    margin-top: 0;
}

#paper-details .title {
    font-size: 18px;
    font-weight: 500;
}

#paper-details .compact {
    margin-bottom: 4px;
}

#paper-details .authorsContainer {
    color: #777;
    font-weight: 400;
    font-size: 103%;
    line-height: 1.1;
}

#paper-url-actions {
    float: right;
}

#js_drive_upload {
    position: relative;
    overflow: hidden;
}

#js_drive_upload input {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#papers_modals .spinner {
    font-size: 35px;
    text-align: center;
}

#papers_modals .js_push_modal_status_content pre {
    max-height: 200px;
}
