html, body {width: 100%; height: 100%; }
body { font-family: "Aller", "Open Sans", "Helvetica Neue", Helvetica, sans-serif; }

/***** HOME *****/


a { transition: all .35s; }

#navbar-home { border-color: rgba(34,34,34,.05); background-color: #fff; transition: all .35s; }
#navbar-home .navbar-header .navbar-brand { padding: 5px 15px; }
#navbar-home .navbar-header .navbar-brand svg { height: 39px; }
#navbar-home .navbar-header .navbar-brand svg .st0 { fill: #444; }
#navbar-home .navbar-header .navbar-brand:hover svg .st0, #navbar-home .navbar-header .navbar-brand:focus svg .st0 { fill: #eb3812; }
#navbar-home .nav > li>a, #navbar-home .nav>li>a:focus { text-transform: uppercase; color: #222; }
#navbar-home .nav > li>a:hover, #navbar-home .nav>li>a:focus:hover { color: #1E68B3; }
#navbar-home .nav > li.active>a, #navbar-home .nav>li.active>a:focus { color: #1E68B3!important; background-color: transparent; }
#navbar-home .nav > li.active>a:hover, #navbar-home .nav>li.active>a:focus:hover { background-color: transparent; }
@media(min-width:768px) {
    #navbar-home { border-color: rgba(255,255,255,.3); background-color: transparent; }
    #navbar-home .navbar-header .navbar-brand svg .st0 { fill: rgba(255,255,255,.7); }
    #navbar-home .navbar-header .navbar-brand:hover svg .st0, #navbar-home .navbar-header .navbar-brand:focus svg .st0 { fill: #fff; }
    #navbar-home .nav > li>a, #navbar-home .nav>li>a:focus { color: rgba(255,255,255,.7); }
    #navbar-home .nav > li>a:hover, #navbar-home .nav>li>a:focus:hover { color: #fff; }
    #navbar-home.affix { border-color: rgba(34,34,34,.05); background-color: #fff; }
    #navbar-home.affix .navbar-header .navbar-brand svg .st0 { fill: #444; }
    #navbar-home.affix .navbar-header .navbar-brand:hover svg .st0, #navbar-home.affix .navbar-header .navbar-brand:focus svg .st0 { fill: #444; }
    #navbar-home.affix .nav > li>a, #navbar-home.affix .nav>li>a:focus { color: #222; }
    #navbar-home.affix .nav > li>a:hover, #navbar-home.affix .nav>li>a:focus:hover { color: #1E68B3; }
}

#home-header { width: 100%; text-align: center; color: #fff; background-image: url(../img/header.jpg); background-position: center; background-size: cover; }
#home-header .header-content { width: 100%; padding: 100px 15px 35px; text-align: center; }
#home-header .header-content .header-content-inner .container { max-width: 650px; margin: 0 auto; }
#home-header .header-content .header-content-inner h1 { margin-top: 0; margin-bottom: 0; }
#home-header .header-content .header-content-inner h1 img { width: 600px; max-width: 100%; }
#home-header .header-content .header-content-inner hr { margin: 30px auto; max-width: 80px; border-width: 4px; }
#home-header .header-content .header-content-inner .subtitle { font-size: 27px; font-weight: 300; color: rgba(255,255,255,.8); }
#home-header .header-content .header-content-inner .subsubtitle { margin: 25px 0 35px; font-size: 18px; font-weight: 300; color: rgba(255,255,255,.6); }
#home-header .header-content .header-content-inner .button a,
#home-header .header-content .header-content-inner .button a:hover { color: rgba(255,255,255,.6); text-decoration: none; }
#home-header .header-content .header-content-inner .btn-circle { height: 50px; width: 50px; display: inline-block; border: 2px solid rgba(255,255,255,.8); border-radius: 100%; color: rgba(255,255,255,.8); font-size: 33px; margin: 30px 0 10px; }
#home-header .header-content .header-content-inner .btn-circle:hover { background: rgba(255, 255, 255, .3); }

#home-header.fullscreen { position: relative; min-height: auto; }
#home-header.fullscreen .header-content { position: relative; padding: 100px 15px; }
@media(min-width:992px) {
    #home-header.fullscreen { min-height: 100%; }
    #home-header.fullscreen .header-content { position: absolute; top: 50%; padding: 0 50px; transform: translateY(-50%); }
}

#howitworks, #features { padding: 45px 0 100px; }
#howitworks h2, #features h2 { text-align: center; margin: 0 0 35px; font-weight: 300; font-size: 37px; }

#howitworks { text-align: justify; }
#howitworksImg { margin: 45px 0 35px; }
#howitworks h3 img { margin-right: 13px; }

#features { background: #EFEFEF; }
#features { text-align: center; }
#features h3 { font-weight: 300; font-size: 20px; }
#features .feature { margin-bottom: 40px; }
#features .icon { height: 60px; width: 60px; background: #ccc; border-radius: 100%; margin: 0 auto; font-size: 30px; padding-top: 10px; color: #FFF; }
#features .icon .fa-tags { padding-left: 3px; }
#features .icon .fa-pencil-square-o { padding-left: 4px; }
#features .icon .fa-folder-open-o { padding-left: 4px; }
#features .icon-1 { background: #117899; }
#features .icon-2 { background: #85AB6F; }
#features .icon-3 { background: #EBC844; }
#features .icon-4 { background: #F16C20; }
#features .icon-5 { background: #B31B2A; }
#features .icon-6 { background: #872C6A; }

/***** SET GENERAL PAPERS PAGE LAYOUT *****/

.navbar-brand {
    padding: 8px 15px;
    line-height: 34px;
}

.navbar-brand img {
    height: 32px;
    display: inline-block;
    vertical-align: top;
}

#papers-navbar {
    margin: 0;
    z-index: 100;
}

#papers-container {
    font-size: 95%;
}

#papers-col-left, #papers-col-middle, #papers-col-right, #papers-col-right-handle {
    position: absolute;
    top: 51px;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto;
}

#papers-col-left {
    left: 0;
    width: 30px;
    box-shadow: 1px 1px 5px rgba(0,0,0,.075);
    border-right: 1px solid #ddd;
    background: white;
    z-index: 10;
}

#papers-col-middle {
    left: 0px;
    padding-left: 30px;
    width: 75%;
}

#papers-col-right {
    right: 0;
    width: 25%;
    box-shadow: -1px 1px 5px rgba(0,0,0,.075);
    border-left: 1px solid #ddd;
    z-index: 10;
}

#papers-col-right-handle {
    right: 25%;
    margin-right: -4px;
    width: 7px;
    cursor: ew-resize;
    z-index: 1000;
}

#papers-col-right-open {
    position: absolute;
    top: 58px;
    right: 0;
    font-size: 13px;
    padding: 3px 5px;
    background: #7B7B7B;
    color: #FFF;
    border-radius: 5px 0 0 5px;
    cursor: pointer;
    z-index: 100;
}

/***** LEFT COLUMN (TAGS) *****/

.all-groups, .no-groups {
    cursor: pointer;
    font-weight: bold;
}

#papers-col-left-container, #papers-col-left:hover {
    width: 200px;
}

#papers-col-left .label-small {
    display: inline;
    padding-left: 40px;
}

#papers-col-left:hover .label-small {
    display: none;
}

#papers-col-left .group-link {
    cursor: pointer;
    opacity: 0.3;
}

#papers-col-left ul li.group-filter-active {
    opacity: 1;
}

#papers-col-left h3 {
    margin: 7px 0 5px 7px;
    font-size: 17px;
    text-align: center;
}

#papers-col-left li {
    padding: 4px 10px;
}

#papers-col-left p {
    padding: 4px 10px;
}

/***** TABLE OF PAPERS *****/

#papers-table th {
    padding: 9px 0px 9px 8px;
    vertical-align: top;
}

#papers-table td {
    padding: 5px 0px 25px 8px;
}

#papers-table tr td:last-of-type {
    padding-right: 3px;
}

#papers-table .labels-list {
    position: absolute;
    height: 1.45em;
    width: 100%;
    margin-left: -8px;
    padding: 0 38px 0 8px;
}

#papers-table .labels-sublist {
    overflow-x: hidden;
    white-space: nowrap;
    height: 1.45em;
}

#papers-table .labels-sublist-left {
    width: 70%;
    display: inline-block;
}

#papers-table .labels-sublist-right {
    width: 27%;
    text-align: right;
    float: right;
    display: inline-block;
}

#papers-table .paper {
    cursor: pointer;
}

#papers-table tr.active td {
    background: #D9E4F7;
}

#papers-table .hspace {
    width: 30px;
    display: inline-block;
}

#papers-table .rating {
    font-size: 80%;
    width: 75px;
    display: inline-block;
}

#papers-table .date {
    color: #C8D0DF;
    font-size: 88%;
}

#papers-table .pdf {
    color: inherit;
}

#papers-table .pdf[href=""] {
    display: none;
}

/* Table sort */

th.sort-header {
    cursor:pointer;
}

table th.sort-header:after {
    content:'';
    float:right;
    margin-top:7px;
    border-width:0 4px 4px;
    border-style:solid;
    border-color:#404040 transparent;
    visibility:hidden;
}

table th.sort-header:last-child:after {
    margin-right: 4px;
}

table th.sort-header.text-right:after {
    margin-left: 5px;
}

table th.sort-header:hover:after {
    visibility:visible;
}

table th.sort-up:after, table th.sort-down:after, table th.sort-down:hover:after {
    visibility:visible;
    opacity:0.4;
}

table th.sort-up:after {
    border-bottom:none;
    border-width:4px 4px 0;
}

/******* RIGHT COLUMN (PAPER DETAILS) ******/


#papers-col-right-close {
    float: right;
    color: #A5A5A5;
    margin: 8px 10px 5px 5px;
    cursor: pointer;
}

#paper-wait {
    padding: 60px 20px 0;
    font-size: 37px;
    color: #ccc;
    text-align: center;
}

#paper-placeholder {
    padding: 60px 20px 0;
    font-size: 37px;
    color: #ddd;
    font-weight: 100;
    text-align: center;
    line-height: 1.15em;
}

#paper-details, #paper-bibtex, #paper-notes {
    padding: 8px;
}

#paper-bibtex h4, #paper-notes h4 {
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    margin: 0;
    color: #47597A;
}

#paper-bibtex hr, #paper-notes hr {
    max-width: 50px;
    border-color: #47597A;
    border-width: 3px;
    margin: 11px auto 18px;
}

#paper-bibtex-content {
    font-size: 80%;
}

#paper-details h4 {
    margin-top: 0;
}

#paper-details .title {
    font-size: 18px;
    font-weight: 500;
}

#paper-details .compact {
    margin-bottom: 4px;
}

#paper-details .authorsContainer {
    color: #777;
    font-weight: 400;
    font-size: 103%;
    line-height: 1.1;
}

#paper-url-actions {
    float: right;
}

#js_drive_upload {
    position: relative;
    overflow: hidden;
}

#js_drive_upload input {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

#papers_modals .spinner {
    font-size: 35px;
    text-align: center;
}

#papers_modals .js_push_modal_status_content pre {
    max-height: 200px;
}
