
    <script src="{{@BASE}}/js/jquery.min.js"></script>
    <script src="{{@BASE}}/js/bootstrap.min.js"></script>
    <script src="{{@BASE}}/js/bootstrap-notify.min.js"></script>
    <script src="{{@BASE}}/js/bootstrap-confirmation.min.js"></script>
    <script src="{{@BASE}}/js/djluUtils.js"></script>
    <script src="{{@BASE}}/js/js.cookie.js"></script>
    <script src="{{@BASE}}/js/spin.min.js"></script>
    <script src="{{@BASE}}/js/ladda.min.js"></script>
    <script src="{{@BASE}}/js/ladda.jquery.min.js"></script>
    <script src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
    <script type='text/x-mathjax-config'>
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['$$','$$'], ['\\(','\\)']], processEscapes: true}});
    </script>

    <check if="{{ is_array(@js) }}">
    <repeat group="{{ @js }}" value="{{ @jsFile }}">
    <script src="{{@BASE}}/js/{{ @jsFile }}"></script>
    </repeat>
    </check>

    <check if="{{ \lib\Flash::instance()->hasMessages() }}">
    <script type="text/javascript">
        $(document).ready(function() {
        <repeat group="{{ \lib\Flash::instance()->getMessages() }}" value="{{ @msg }}">
            $.notify({ message: "{{ nl2br(str_replace('"', '\\"', @msg.text)) }}" }, { type: "{{ @msg.status }}" });
        </repeat>
        });
    </script>
    </check>


</body>

</html>
