
    <script src="{{@BASE}}/js/jquery.min.js"></script>
    <script src="{{@BASE}}/js/bootstrap.min.js"></script>
    <script src="{{@BASE}}/js/bootstrap-notify.min.js"></script>
    <script src="{{@BASE}}/js/bcrypt.min.js"></script>
    <script src="{{@BASE}}/js/simplemde.min.js"></script>
    <script src="{{@BASE}}/js/highlight.min.js"></script>
    <script src="{{@BASE}}/js/djsecurise.js"></script>
    <check if="{{ @js }}">
    <script src="{{@BASE}}/js/{{ @js }}"></script>
    </check>

</body>

</html>
