<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="{{ @ENCODING }}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="DjLu is a simple and free tool to organize your research papers. We keep your library simple and flexible by using simple open formats and solutions.">
    <meta name="author" content="Thomas Robert, Micael Carvalo, Remi Cadene">
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />

    <title>DjLu - {{ isset(@title) ? @title : "The simple and free tool to organize your research papers" }}</title>

    <link rel="stylesheet" href="{{@BASE}}/css/bootstrap.min.css" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{{@BASE}}/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="{{@BASE}}/css/simplemde.min.css" type="text/css">
    <link rel="stylesheet" href="{{@BASE}}/css/highlight.min.css" type="text/css">
    <link rel="stylesheet" href="{{@BASE}}/css/djlu.css" type="text/css">
    <link rel="stylesheet" href="{{@BASE}}/css/ladda-themeless.min.css" type="text/css">

    <link rel="apple-touch-icon" sizes="57x57" href="/img/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/img/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/img/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/img/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/img/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/img/favicon-194x194.png" sizes="194x194">
    <link rel="icon" type="image/png" href="/img/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/img/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/img/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/img/manifest.json">
    <link rel="mask-icon" href="/img/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/img/favicon.ico">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-TileImage" content="/img/mstile-144x144.png">
    <meta name="msapplication-config" content="/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:image" content="/img/apple-touch-icon-180x180.png">


</head>

<body id="page-top">
