<nav id="navbar-home" class="navbar navbar-default navbar-fixed-top affix-top">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#djlu-navbar" aria-controls="djlu-navbar" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">{{ file_get_contents("img/logo.svg"); }}</a>
        </div>
        <div class="collapse navbar-collapse" id="djlu-navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a class="page-scroll" href="#features">Features</a></li>
                <li><a class="page-scroll" href="#howitworks">How it works</a></li>
                <li><a class="page-scroll" href="#about">About</a></li>
                <check if="{{ \models\User::instance()->isLoggedIn() }}">
                <true>
                <li><a href="{{ 'papers' | alias }}">Your library</a></li>
                </true>
                <false>
                <li><a href="#" id="login-btn" data-toggle="modal" data-target="#login"><i class="fa fa-sign-in"></i> Login</a></li>
                <li><a href="#" id="register-btn" data-toggle="modal" data-target="#register"><i class="fa fa-pencil-square-o"></i> Register</a></li>
                </false>
                </check>
            </ul>
        </div>
    </div>
</nav>

<header id="home-header" class="fullscreen">
    <div class="header-content">
        <div class="header-content-inner">
            <div class="container">
                <h1><img src="img/logoHome.svg" alt="DéjàLu" /></h1>
                <hr>
                <div class="text-center">
                    <p class="subtitle">DjLu (pronounce <em>DéjàLu</em>, with a French accent) is a simple and free tool to organize research papers.</p>
                    <p class="subsubtitle">Our core principle is to keep your library simple, flexible and open. We want the user to be as independent as possible from DjLu by using simple open formats and solutions.</p>
                    <p class="button">
                        <a class="page-scroll" href="#features">
                        <span class="btn-circle page-scroll" href="#features"><i class="fa fa-angle-down"></i></span><br>Learn more</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</header>

<section id="features">
    <div class="container">
        <h2>Features</h2>

        <div id="features-block">
            <div id="features-block-mobile">
                <img src="img/features.png" />

                <a class="feature-icon visible-xs-block visible-sm-block page-scroll" href="#feature-add" id="feature-add-icon"><i class="fa fa-files-o"></i></a>
                <a class="feature-icon visible-xs-block visible-sm-block page-scroll" href="#feature-web-app" id="feature-web-app-icon"><i class="fa fa-desktop"></i></a>
                <a class="feature-icon visible-xs-block visible-sm-block page-scroll" href="#feature-sync" id="feature-sync-icon"><i class="fa fa-refresh"></i></a>
                <a class="feature-icon visible-xs-block visible-sm-block page-scroll" href="#feature-tags" id="feature-tags-icon"><i class="fa fa-tags"></i></a>
                <a class="feature-icon visible-xs-block visible-sm-block page-scroll" href="#feature-notes" id="feature-notes-icon"><i class="fa fa-pencil-square-o"></i></a>
                <a class="feature-icon visible-xs-block visible-sm-block page-scroll" href="#feature-open-source" id="feature-open-source-icon"><i class="fa fa-github"></i></a>
                <a class="feature-icon visible-xs-block visible-sm-block page-scroll" href="#feature-pdf-cloud" id="feature-pdf-cloud-icon"><i class="fa fa-cloud"></i></a>
            </div>

            <div class="col-xs-12 col-sm-6 feature left" id="feature-web-app">
                <div class="icon"><i class="fa fa-desktop"></i></div>
                <div class="content">
                    <h3>Organize your library from anywhere with a simple web app</h3>
                    <p>Access your library from anywhere through the DjLu web application.</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 feature left" id="feature-add">
                <div class="icon"><i class="fa fa-files-o"></i></div>
                <div class="content">
                    <h3>Add papers in your library from BibTex, arXiv or DOI</h3>
                    <p>You can add papers to your library from BibTex snippets or with standard identifiers such as arXiv or DOI. DjLu will gather the information for you.</p>
                </div>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <div class="col-xs-12 col-sm-6 feature right" id="feature-sync">
                <div class="icon"><i class="fa fa-refresh"></i></div>
                <div class="content">
                    <h3>Sync in the cloud and with your computer</h3>
                    <p>Your library is stored in the cloud to be accessible from anywhere and can be synced on your computer to work offline or with your favorite tools.</p>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 feature left" id="feature-tags">
                <div class="icon"><i class="fa fa-tags"></i></div>
                <div class="content">
                    <h3>Organize your library with different kind of tags</h3>
                    <p>Organize your papers using colorful tags about the content of the paper, its reading status or to take super-short super-important notes about it.</p>
                </div>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <div class="col-xs-12 col-sm-6 feature right bottom" id="feature-notes">
                <div class="icon"><i class="fa fa-pencil-square-o"></i></div>
                <div class="content">
                    <h3 class="visible-xs-block visible-sm-block">Take and format notes on your papers using Markdown</h3>
                    <p>You can take long notes about the paper using the Markdown language. Markdown is a language to format text with a very simple and intuitive syntax. <a href="https://guides.github.com/features/mastering-markdown/">Check it out!</a> You can even write equations using LaTeX and we will render them.</p>
                    <h3 class="visible-md-block visible-lg-block">Take and format notes on your papers using Markdown</h3>
                </div>
            </div>

            <div class="col-xs-12 col-sm-6 feature left bottom" id="feature-open-source">
                <div class="icon"><i class="fa fa-github"></i></div>
                <div class="content">
                    <h3 class="visible-xs-block visible-sm-block">Remain free and fully in charge of your library</h3>
                    <p>DjLu only uses your own cloud storage, and uses very simple formats and mechanisms to store your library. This means you are not stuck with our solution. Also everything we do is open source!</p>
                    <h3 class="visible-md-block visible-lg-block">Remain free and fully in charge of your library</h3>
                </div>
            </div>

            <div class="clearfix visible-sm-block"></div>

            <div class="col-xs-12 col-sm-6 col-sm-offset-3 feature right bottom" id="feature-pdf-cloud">
                <div class="icon"><i class="fa fa-cloud"></i></div>
                <div class="content">
                    <h3 class="visible-xs-block visible-sm-block">Your PDFs in the cloud for local and remote reading and annotation</h3>
                    <p>DjLu helps you store and sort your paper's PDFs in your own favorite cloud storage account. That way, you can sync PDFs on your computer to annotate them with your own software or do it directly in the cloud!</p>
                    <h3 class="visible-md-block visible-lg-block">Your PDFs in the cloud for local and remote reading and annotation</h3>
                </div>
            </div>
        </div>
    </div>
</section>


<section id="howitworks">
    <div class="container">
        <h2>How it works</h2>

        <div id="howitworksImg" class="text-center">
            <img src="img/howItWorks.png" style="max-width: 100%; width: 700px; max-width: 100%;" />
        </div>

        <div class="col-md-6">
            <h3><img src="img/git.svg" height="35" /> You library on Git</h3>

            <p>Your paper's library will be stored in your own git repository. If you don't know git, it is a powerful tool to save, sync and track versions of files. You can see it as a geeky version of Google Drive.</p>

            <p>Each paper of your library is a folder containing the BibTex of the paper for citations, a JSON to store your information on the paper and a Markdown file to take notes.</p>
        </div>

        <div class="col-md-6">
            <h3><img src="img/cloud.svg" height="35" /> Your PDFs on your cloud storage</h3>

            <p>The PDFs of your papers are stored on your own cloud file hosting account (Google Drive only for now). This means we are not handling the file storage ourselves, and are therefore not limiting your PDF storage in any way.</p>

            <p>This also means your papers' PDFs are available from anywhere for reading and annotation.</p>
        </div>

        <div class="clearfix visible-md-block visible-lg-block"></div>

        <div class="col-md-6">
            <h3><img src="img/ui.png" height="35" /> Manage everything on the web app</h3>

            <p>To manage your library easily, we propose a lightweight web application. The interface will allow you to simply browse and edit your library.</p>

            <p>For this, the interface will read and write on your Git repository and will also be linked to your cloud storage account to save PDFs for your.</p>

            <p>The Web UI is available as an open source project. You can host it yourself on your server or your computer. You can also fork it and make your own version. In that case, feel free to send back pull request of interesting features.</p>
        </div>

        <div class="col-md-6">
            <h3><img src="img/computer.png" height="35" /> Sync and edit on your computer</h3>

            <p>If you decide to sync your git library and your cloud storage on your computer, you will be able to work on your library without going through the UI. Of course, any change you make on your computer and send back to the cloud will reflect on the UI.</p>

            <p>This allows you to work offline and with your favorite tools and sync everything back to the cloud seamlessly.</p>
        </div>
    </div>
</section>


<section id="about">
    <div class="container">
        <h2>About DjLu</h2>

        <div class="row description">
            <div class="col-xs-12 col-md-8 col-md-offset-2">
                <p>DjLu is an open-source software developed by Rémi Cadène, Micael Carvalho and Thomas Robert, 3 PhD students in Artificial Intelligence &amp; Deep Learning from the Pierre and Marie Curie University in Paris, France.</p>

                <p>We chose the name DjLu as a nod to <a target="_blank" href="http://djvu.org/">DjVu</a>, a digital document format developed by Yann LeCun, because he is one of the great researcher in our field.</p>

                <p class="text-center link"><a class="btn btn-primary btn-lg" target="_blank" href="https://www.github.com/DejaLus/DjLu"><i class="fa fa-github"></i> DjLu on GitHub</a></p>
            </div>
        </div>

        <div class="row">
            <div class="author col-xs-12 col-sm-4">
                <p class="photo"><img class="img-circle" src="img/remi.jpg" height="150" alt="" /></p>
                <p class="name">Rémi Cadène</p>
                <p class="profiles">
                    <a target="_blank" href="http://remicadene.com/"><i class="fa fa-link"></i></a>
                    <a target="_blank" href="https://github.com/Cadene"><i class="fa fa-github"></i></a>
                    <a target="_blank" href="https://twitter.com/RemiCadene"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="https://fr.linkedin.com/in/remi-cadene-6527509b"><i class="fa fa-linkedin"></i></a>
                </p>
            </div>
            <div class="author col-xs-12 col-sm-4">
                <p class="photo"><img class="img-circle" src="img/micael.jpg" height="150" alt="" /></p>
                <p class="name">Micael Carvalho</p>
                <p class="profiles">
                    <a target="_blank" href="http://webia.lip6.fr/~carvalho/"><i class="fa fa-link"></i></a>
                    <a target="_blank" href="https://github.com/MicaelCarvalho"><i class="fa fa-github"></i></a>
                    <a target="_blank" href="https://plus.google.com/+MicaelCarvalho"><i class="fa fa-google-plus"></i></a>
                </p>
            </div>
            <div class="author col-xs-12 col-sm-4">
                <p class="photo"><img class="img-circle" src="img/thomas.jpg" height="150" alt="" /></p>
                <p class="name">Thomas Robert</p>
                <p class="profiles">
                    <a target="_blank" href="http://www.thomas-robert.fr"><i class="fa fa-link"></i></a>
                    <a target="_blank" href="https://www.github.com/ThomasRobertFr"><i class="fa fa-github"></i></a>
                    <a target="_blank" href="https://www.twitter.com/ThomasR_Fr"><i class="fa fa-twitter"></i></a>
                    <a target="_blank" href="https://www.linkedin.com/in/ThomasRobertFr"><i class="fa fa-linkedin"></i></a>
                </p>
            </div>
        </div>

    </div>
</section>


<div class="modal fade" id="login" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-sign-in"></i> Login</h4>
            </div>
            <form class="form-horizontal" id="login-form" method="POST" action="{{ 'login' | alias }}">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="i_username" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="i_username" placeholder="Username" name="username">
                            <input type="hidden" id="s_sid" value="<?php echo session_id(); ?>">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="i_password" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="i_password" placeholder="Password">
                            <input type="hidden" id="i_password4" name="password">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <input type="submit" class="btn btn-primary" value="Login">
                </div>
            </form>
        </div>
    </div>
</div>

<div class="modal fade" id="register" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-pencil-square-o"></i> Register</a></h4>
            </div>
            <form class="form-horizontal" id="register-form" method="POST" action="{{ 'register' | alias }}">
                <div class="modal-body">
                    <div class="form-group">
                        <label for="i_username2" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="i_username2" placeholder="Username" name="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="i_password2" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="i_password2" placeholder="Password">
                            <input type="hidden" id="i_password3" name="password">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" id="register-submit" value="Register">
                </div>
            </form>
        </div>
    </div>
</div>
