<header class="jumbotron">
    <div class="container">
        <h1>DjLu <small>DéjàLu</small></h1>
        <p>DéjàLu is a simple and free tool to organize research papers.</p>
    </div>
</header>

<section id="login">
    <div class="container">
        <repeat group="{{ \lib\Flash::instance()->getMessages() }}" value="{{ @msg }}">
        <div class="alert alert-{{ @msg.status }}">
            {{ nl2br(@msg.text) }}
        </div>
        </repeat>
        <div class="col-sm-6">
            <h2 class="col-sm-offset-2">Login</h2>
            <form class="form-horizontal" id="djlogin" method="POST" action="{{ 'login' | alias }}">
                <div class="form-group">
                    <label for="i_username" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="i_username" placeholder="Username" name="username">
                        <input type="hidden" id="s_sid" value="<?php echo session_id(); ?>">
                    </div>
                </div>
                <div class="form-group">
                    <label for="i_password" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="i_password" placeholder="Password">
                        <input type="hidden" id="i_password4" name="password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 text-center">
                        <button type="submit" class="btn btn-primary">Login</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-sm-6">
            <h2 class="col-sm-offset-2">Register</h2>
            <form class="form-horizontal" id="djregister" method="POST" action="{{ 'register' | alias }}">
                <div class="form-group">
                    <label for="i_username2" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="i_username2" placeholder="Username" name="username">
                    </div>
                </div>
                <div class="form-group">
                    <label for="i_password2" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="i_password2" placeholder="Password">
                        <input type="hidden" id="i_password3" name="password">
                    </div>
                </div>
                <div class="form-group">
                    <label for="i_git" class="col-sm-2 control-label"> Git</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="i_git" placeholder="Git repo SSH command (e.g. git@github.com:DejaLus/demoLibrary.git)" name="git">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label"> SSH key <sup>*</sup></label>
                    <div class="col-sm-10 text-center">
                        <a id="sshBtn" class="btn btn-default">Generate an SSH key</a>
                        <pre id="sshKey" style="display: none;"></pre>
                        <input type="hidden" id="sshId" name="sshId">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10 text-center">
                        <button type="submit" id="registerBtn" disabled="disabled" class="btn btn-primary">Register</button>
                    </div>
                </div>
            </form>
            <p><sup>*</sup> The server needs to be able to read and write on the git repository of your library through SSH. Therefore, you need to grant the server's SSH public key access to your repository. On GitHub, we suggest you use the <a href="https://developer.github.com/guides/managing-deploy-keys/#deploy-keys">Deploy Key</a> feature.</p>
            <p>You can test the app by cloning our <a href="https://github.com/DejaLus/demoLibrary">demo library</a> or initialize you own library with our <a href="https://github.com/DejaLus/baseLibrary">base library</a>.</p>
        </div>
    </div>
</section>
