<nav id="papers-navbar" class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="#page-top"><img src="/img/logo.svg" height="34" title="" alt="DjLu" /></a>
        </div>
    </div>
</nav>

<section id="paper-display">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <h1>{{ @paper.json.title }}<br>
            <small>{{ \lib\Formatting::formatAuthors(@paper.json.authors, 'full') }}</small></h1>
            <p class="tags">
                <span class="tags_content">
                    {{ \lib\Formatting::formatTags(@paper.json.tags_content, "reading", @tags.content) }}
                </span>
                <span class="tags_notes">
                    {{ \lib\Formatting::formatTags(@paper.json.tags_notes, "notes") }}
                </span>
                <span class="tags_reading">
                    {{ \lib\Formatting::formatTags(@paper.json.tags_reading, "reading", @tags.reading) }}
                    {{ \lib\Formatting::formatRating(@paper.json.rating, true) }}
                </span>
            </p>
            <div class="clearfix"></div>
            <p class="publication"><strong>Publication: </strong> {{ @paper.json.in }} {{ @paper.json.year }}</p>
            <p class="date_added"><strong>Added on: </strong> {{ @paper.json.date_added }}</p>
            <check if="{{ @paper.json.url }}">
                <p class="url"><strong>URL: </strong> <a href="{{ @paper.json.url }}">{{ @paper.json.url }}</a></p>
            </check>

            <check if="{{ !empty(@paper.md) }}">
            <div id="paper-notes">
                <h4>Notes</h4>
                <hr>
                <div id="paper-notes-content"></div>
                <div class="right-action-buttons">
                    <button type="button" class="clipboard btn btn-default btn-xs" data-clipboard-target="#paper-notes-raw">
                        <i class="fa fa-clipboard" aria-hidden="true" alt="Copy to clipboard"></i>
                    </button>
                </div>
                <h5>Markdown</h5>
                <pre id="paper-notes-raw">{{ @paper.md | raw }}</pre>
            </div>
            </check>

            <check if="{{ !empty(@paper.bibRaw) }}">
            <div id="paper-bibtex">
                <h4>Citation</h4>
                <hr>

                <div class="right-action-buttons">
                    <button type="button" class="clipboard btn btn-default btn-xs" data-clipboard-target="#paper-citation">
                        <i class="fa fa-clipboard" aria-hidden="true" alt="Copy to clipboard"></i>
                    </button>
                </div>
                <div id="paper-citation">{{ @paper.bib.html | raw }}</div>

                <div class="right-action-buttons">
                    <button type="button" class="clipboard btn btn-default btn-xs" data-clipboard-target="#paper-bibtex-content">
                        <i class="fa fa-clipboard" aria-hidden="true" alt="Copy to clipboard"></i>
                    </button>
                </div>
                <h5>BibTex</h5>
                <pre id="paper-bibtex-content">{{ @paper.bibRaw | raw }}</pre>
            </div>
            </check>
        </div>
    </div>
</div>
