<nav id="papers-navbar" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">DjLu - {{ \models\User::instance()->getUsername() }}'s library</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="#" id="js_pull"><i class="fa fa-refresh"></i> Pull</a></li>
                <li><a href="#" id="js_push"><i class="fa fa-cloud-upload"></i> Commit &amp; push</a></li>
                <li><a href="#" id="js_add"><i class="fa fa-plus"></i> Add a paper</a></li>
                <li><a href="{{ 'logout' | alias }}" id="js_logout"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>

<div id="papers-container">
    <div id="papers-col-left">
        <loop from="{{ @i=0 }}" to="{{ @i < count(\models\Papers::$TAGS_GROUPS) }}" step="{{ @i++ }}">
            <h3>{{ \models\Papers::$TAGS_GROUPS_LABELS[@i] }}</h3>
            <ul class="nav">
                <repeat group="{{ @tags[\models\Papers::$TAGS_GROUPS[@i]] }}" key="{{ @tag }}" value="{{ @color }}">
                <li><a href="#" style="background: {{ @color }}; color: {{ \lib\Formatting::textColorFromBgColor(@color); }}">{{ @tag }}</a></li>
                </repeat>
            </ul>
        </loop>
    </div>
    <div id="papers-col-middle">
        <table class="table table-striped" id="papers-table">
            <tr>
                <th>Title</th>
                <th>Author</th>
                <th class="text-right">Publication</th>
                <th class="text-right">Added</th>
                <th></th>
            </tr>
            <repeat group="{{ @papers }}" value="{{ @paper }}">
            <tr>
                <td>{{ @paper.title }}<br/>
                <span class="labels-list">
                    <span class="labels-sublist labels-sublist-left">
                    {{ \lib\Formatting::formatTags(@paper.tags_content, @tags.content) }}
                    <check if="{{ is_array(@paper.tags_notes) && count(@paper.tags_notes) > 0 }}">
                    <span class="hspace"></span>
                    {{ \lib\Formatting::formatTags(@paper.tags_notes) }}
                    </check>

                    </span>
                    <span class="labels-sublist labels-sublist-right">
                    {{ \lib\Formatting::formatTags(@paper.tags_reading, @tags.reading) }}
                    {{ \lib\Formatting::formatRating(@paper.rating, true) }}
                    </span>
                </span></td>
                <td><span data-toggle="tooltip" data-placement="top" title="{{ \lib\Formatting::formatAuthors(@paper.authors, 'full') }}">{{ \lib\Formatting::formatAuthors(@paper.authors) }}</span></td>
                <td class="text-right">{{ @paper.in }} {{ @paper.year }}</td>
                <td class="text-right">{{ \lib\Formatting::formatDate(@paper.date_added) }}</td>
                <td><i class="fa fa-file-pdf-o"></i></td>
            </tr>
            </repeat>
        </table>
    </div>
    <div id="papers-col-right">
        Paper details here
    </div>
</div>

<!-- Modals -->
<div class="modal fade" id="js_pull_modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><i class="fa fa-cloud-download"></i> Git pull</h4>
            </div>
            <div class="modal-body" id="js_pull_modal_content"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="js_pull_modal_close" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="js_pull_modal_reload">Reload</button>
            </div>
        </div>
    </div>
</div>

<div id="papers_modals">
    <div class="modal fade" id="js_push_modal" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"><i class="fa fa-cloud-upload"></i> Git commit &amp; push</h4>
                </div>
                <div class="modal-body">
                    <div id="js_push_modal_status">
                        <p><strong>The following changes will be commited</strong></p>
                        <div id="js_push_modal_status_content"></div>
                    </div>
                    <div id="js_push_modal_message" class="form-group">
                        <label for="i_commit">Commit message</label>
                        <textarea class="form-control" rows="4" id="i_commit"></textarea>
                    </div>
                    <div id="js_push_modal_result" class="form-group">
                        <p class="text-center spinner"><i class="fa fa-refresh faa-spin animated"></i></p>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" id="js_push_modal_close" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" id="js_push_modal_send">Commit &amp; push</button>
                </div>
            </div>
        </div>
    </div>
</div>
