<td>{{ @paper.title }}<br/>
    <span class="labels-list">
        <span class="labels-sublist labels-sublist-left">
        {{ \lib\Formatting::formatTags(@paper.tags_content, 0, @tags.content) }}
        <check if="{{ is_array(@paper.tags_notes) && count(@paper.tags_notes) > 0 }}">
        <span class="hspace"></span>
        {{ \lib\Formatting::formatTags(@paper.tags_notes, 2) }}
        </check>

        </span>
        <span class="labels-sublist labels-sublist-right">
        {{ \lib\Formatting::formatTags(@paper.tags_reading, 1, @tags.reading) }}
        {{ \lib\Formatting::formatRating(@paper.rating, true) }}
        </span>
    </span>
</td>
<td><span data-toggle="tooltip" data-placement="top" title="{{ \lib\Formatting::formatAuthors(@paper.authors, 'full') }}">{{ \lib\Formatting::formatAuthors(@paper.authors) }}</span></td>
<td class="text-right" data-sort="{{ @paper.year }} {{ @paper.in }}">{{ @paper.in }}&nbsp;{{ @paper.year }}</td>
<td class="text-right" data-sort="{{ @paper.date_added }}">{{ \lib\Formatting::formatDate(@paper.date_added) }}</td>
<td data-sort="{{ @paper.rating }}">
    <a href="{{ !empty(@paper.url) ? @paper.url : "" }}" class="pdf" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
</td>