<nav id="papers-navbar" class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand page-scroll" href="#page-top"><img src="/img/logo.svg" height="34" title="" alt="DjLu" /></a>
        </div>
    </div>
</nav>

<section id="paper-display">
    <div class="container">
        <div class="col-md-8 col-md-offset-2">
            <h1>{{ @paper->jsonField('title') }}<br>
            <small>{{ \lib\Formatting::formatAuthors(@paper->jsonField('authors'), 'full') }}</small></h1>
            <p class="tags">
                <span class="tags_content">
                    {{ \lib\Formatting::formatTags(@paper->jsonField('tags_content'), "reading", @tags.content) }}
                </span>
                <span class="tags_notes">
                    {{ \lib\Formatting::formatTags(@paper->jsonField('tags_notes'), "notes") }}
                </span>
                <span class="tags_reading">
                    {{ \lib\Formatting::formatTags(@paper->jsonField('tags_reading'), "reading", @tags.reading) }}
                    {{ \lib\Formatting::formatRating(@paper->jsonField('rating'), true) }}
                </span>
            </p>
            <div class="clearfix"></div>
            <p class="publication"><strong>Publication: </strong> {{ @paper->jsonField('in') }} {{ @paper->jsonField('year') }}</p>
            <p class="date_added"><strong>Added on: </strong> {{ @paper->jsonField('date_added') }}</p>
            <check if="{{ @paper->jsonField('url') }}">
                <p class="url"><strong>URL: </strong> <a href="{{ @paper->jsonField('url') }}" target="_blank">{{ @paper->jsonField('url') }}</a></p>
            </check>

            <check if="{{ !empty(@paper->getFile('md')) }}">
            <div id="paper-notes">
                <h4>Notes</h4>
                <hr>

                <div id="paper-notes-content">{{ @paper->getNotesHTML() }}</div>

                <h5>Markdown</h5>

                <div class="right-action-buttons-pre">
                    <button type="button" class="clipboard btn btn-default btn-xs" data-clipboard-target="#paper-notes-raw">
                        <i class="fa fa-clipboard" aria-hidden="true" alt="Copy to clipboard"></i>
                    </button>
                </div>

                <pre id="paper-notes-raw">{{ @paper->getFile('md') | raw }}</pre>
            </div>
            </check>

            <check if="{{ !empty(@paper->getFile('bib')) }}">
            <div id="paper-bibtex">
                <h4>Citation</h4>
                <hr>

                <div class="right-action-buttons">
                    <button type="button" class="clipboard btn btn-default btn-xs" data-clipboard-target="#paper-citation">
                        <i class="fa fa-clipboard" aria-hidden="true" alt="Copy to clipboard"></i>
                    </button>
                </div>

                <div id="paper-citation">{{ @paper->getFile('bib')['html'] | raw }}</div>

                <h5>BibTex</h5>

                <div class="right-action-buttons-pre">
                    <button type="button" class="clipboard btn btn-default btn-xs" data-clipboard-target="#paper-bibtex-content">
                        <i class="fa fa-clipboard" aria-hidden="true" alt="Copy to clipboard"></i>
                    </button>
                </div>

                <pre id="paper-bibtex-content">{{ @paper->getFiles(array('bib'))['bibRaw'] | raw }}</pre>
            </div>
            </check>
        </div>
    </div>
</div>
