<tr class="paper paper-{{ @paper->getType() }}" data-paper-key="{{ @paper->getKey() }}" id="paper-row-{{ @paper->getKey() }}">

<check if="{{ @paper->getType() == \models\Paper::TYPE_FULL }}">
<true>

<td>{{ @paper->jsonField("title") }}<br/>
    <span class="labels-list">
        <span class="labels-sublist labels-sublist-left">
        {{ \lib\Formatting::formatTags(@paper->jsonField("tags_content"), "content", @tags.content) }}
        <check if="{{ is_array(@paper->jsonField('tags_notes')) && count(@paper->jsonField('tags_notes')) > 0 }}">
        <span class="hspace"></span>
        {{ \lib\Formatting::formatTags(@paper->jsonField("tags_notes"), "notes") }}
        </check>

        </span>
        <span class="labels-sublist labels-sublist-right">
        {{ \lib\Formatting::formatTags(@paper->jsonField("tags_reading"), "reading", @tags.reading) }}
        {{ \lib\Formatting::formatRating(@paper->jsonField("rating"), true) }}
        </span>
    </span>
</td>
<td><span data-toggle="tooltip" data-placement="top" title="{{ \lib\Formatting::formatAuthors(@paper->jsonField('authors'), 'full') }}">{{ \lib\Formatting::formatAuthors(@paper->jsonField("authors")) }}</span></td>
<td class="text-right" data-sort="{{ @paper->jsonField('year') }} {{ @paper->jsonField('in') }}">{{ @paper->jsonField("in") }}&nbsp;{{ @paper->jsonField("year") }}</td>
<td class="text-right" data-sort="{{ @paper->getDateAdded() }}" nowrap>{{ \lib\Formatting::formatDate(@paper->jsonField("date_added")) }}</td>
<td class="text-right" data-sort="{{ @paper->jsonField('rating') }}" nowrap>
    <check if="!empty(@paper->jsonField('secret'))">
        <true>
        <a href="{{ 'paperPub', 'user='.\models\User::instance()->getUsername().', key='.@paper->getKey().', secret='.@paper->jsonField('secret') | alias }}" class="link" target="_blank" data-toggle="tooltip" data-placement="top" title="Public URL"><i class="fa fa-link"></i></a>
        </true>
        <false>
        <a class="link invisible"><i class="fa fa-link"></i></a>
        </false>
    </check>
    <span class="{{ @paper->jsonField('hasNotes') ? '' : 'invisible' }} has-notes" data-toggle="tooltip" data-placement="top" title="This paper has notes"><i class="fa fa-pencil-square-o"></i></span>
    <a href="{{ !empty(@paper->jsonField('url')) ? @paper->jsonField('url') : "" }}" class="link pdf" target="_blank"><i class="fa fa-file-pdf-o"></i></a>
</td>

</true>

<false>
<td class="title" colspan="4" data-sort-3="{{ @paper->getDateAdded() }}">{{ @paper->getNotesHTML(array("nl2br" => true)) }}</td>
<td class="text-right"><a class="link delete" href="#"><i class="fa fa-trash"></i></a></td>
</false>
</check>

</tr>
