<set user="{{ \models\User::instance() }}" />
<nav id="papers-navbar" class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top"><img src="/img/logo.svg" height="34" title="" alt="DjLu" /> - {{ \lib\Formatting::formatUsername(@user->getUsername()) }} library</a>
        </div>

        <div class="collapse navbar-collapse" id="navbar">
            <ul class="nav navbar-nav navbar-right">
                <check if="{{ @user->getGit() }}">
                    <li><a href="#" id="pull-btn"><i class="fa fa-refresh"></i> Pull</a></li>
                    <li><a href="#" id="modal-push-btn"><i class="fa fa-cloud-upload"></i> Commit &amp; push</a></li>
                </check>
                <li><a href="#" data-toggle="modal" data-target="#modal-paper-add"><i class="fa fa-plus"></i> Add a paper</a></li>
                <li><a href="#" data-toggle="modal" data-target="#modal-settings"><i class="fa fa-cog"></i> Settings</a></li>
                <li><a href="{{ 'logout' | alias }}"><i class="fa fa-sign-out"></i> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>
<div id="has_gdrive" class="hidden" data-return="{{ \models\GoogleDrive::instance()->isInitialized()?'true':'false' }}"></div>
<div id="papers-container">
    <div id="papers-col-left">
        <div id="colorpicker" style="display: none;">
            <div class="popover colorpicker" role="tooltip">
                <div class="arrow"></div>
                <repeat group="{{ explode('-', @TAGS_PALETTE) }}" value="{{ @color }}"><span data-color="{{ @color }}" style="background: #{{ @color }}"></span></repeat>
            </div>
        </div>
        <div id="papers-col-left-container">
            <include href="tagmenu.htm">
        </div>
    </div>
    <div id="papers-col-middle">
        <table class="table table-striped table-hover" id="papers-table">
            <thead>
            <tr id="papers-table-header">
                <th>Title</th>
                <th>Author</th>
                <th class="text-right">Publication</th>
                <th class="text-right sort-down sort-default">Added</th>
                <th class="text-right">Rating</th>
            </tr>
            </thead>
            <tbody>
            <set prevdate="{{ INF }}">
            <repeat group="{{ @papers }}" value="{{ @paper }}">
                <set currdate="{{ \lib\Formatting::parseDate(@paper->getDateAdded()) }}"
                     dateSplit="{{ \lib\Formatting::getDateSplit(@prevdate, @currdate) }}">
                <check if="{{ !empty(@dateSplit) }}">
                <tr class="time-delimiter"><td colspan="5" data-sort="%hide%" data-sort-1="%hide%" data-sort-2="%hide%" data-sort-4="%hide%" data-sort-3="{{ date('Y-m-d H:i', @currdate + 60) }}">{{ @dateSplit }}</td></tr>
                </check>
                <set prevdate="{{ @currdate }}">

                <include href="paper.htm" />
            </repeat>
            </tbody>
        </table>
    </div>
    <div id="papers-col-right">
        <div id="papers-col-right-close"><i class="fa fa-close"></i></div>
        <div id="paper-placeholder">
            No paper selected
        </div>
        <div id="paper-wait" style="display: none;">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
        <div id="paper-details" data-key="" style="display: none;">
            <h4 class="editable compact"><span class="title" data-key="title" data-title="Title"></span></h4>
            <p class="editable authorsContainer"><span class="authors" data-key="authors" data-title="Authors (semicolon separated)"></span></p>
            <p>
                <span class="right-action-buttons"><button type="button" class="clipboard btn btn-default btn-xs" data-clipboard-target="#paper-citation-key">
                <i class="fa fa-clipboard" aria-hidden="true" alt="Copy to clipboard"></i>
                </button></span>
                <strong>Citation key: </strong><span class="citationKey" id="paper-citation-key"></span>
            </p>
            <p class="editable"><strong>Pub. in: </strong><span class="in" data-key="in" data-title="Published in"></span></p>
            <p class="editable"><strong>Year: </strong><span class="year" data-key="year" data-title="Year"></span></p>
            <p class="compact"><strong>Tags:</strong></p>
            <p class="editable compact indent"><em><abbr title="Content tags">C</abbr>: </em><span class="tags_content" data-key="tags_content" data-title="Tags about the content of the paper (semicolon separated)" data-autocomplete="content"></span></p>
            <p class="editable compact indent"><em><abbr title="Reading status tags">R</abbr>: </em><span class="tags_reading" data-key="tags_reading" data-title="Tags about the reading status (semicolon separated)" data-autocomplete="reading"></span></p>
            <p class="editable indent"><em><abbr title="Additional notes tags">N</abbr>: </em><span class="tags_notes" data-key="tags_notes" data-title="Tags to take super-short notes (semicolon separated)"></span></p>
            <p class="editable"><strong>Added on: </strong><span class="date_added" data-key="date_added" data-title="Added on (YYYY-MM-DD HH:MM format)"></span></p>
            <p class="editable">
                <span class="right-action-buttons btn-group">
                    <a href="#" class="btn btn-default btn-xs ladda-button" data-style="zoom-in" data-spinner-size="18" data-spinner-color="#000000" data-toggle="tooltip" data-placement="top" title="Find  URL of PDF uploaded manually on Google Drive" id="js_drive_fetch"><i class="ladda-label fa fa-refresh fa-fw"></i></a>
                    <a href="#" class="btn btn-default btn-xs ladda-button" data-style="zoom-in" data-spinner-size="18" data-spinner-color="#000000" data-toggle="tooltip" data-placement="top" title="Upload PDF to Google Drive from URL" id="js_drive_import"><i class="ladda-label fa fa-cloud-upload fa-fw ladda-label"></i></a>
                    <a href="#" class="btn btn-default btn-xs ladda-button" data-style="zoom-in" data-spinner-size="18" data-spinner-color="#000000" id="js_drive_upload" data-toggle="tooltip" data-placement="top" title="Upload PDF to Google Drive from local file"><i class="ladda-label fa fa-upload fa-fw"></i><input type="file"></a>
                </span>
                <strong>URL: </strong> <a class="url" href="#" target="_blank" data-key="url" data-title="URL to the PDF"></a>
            </p>
            <p class="editable">
                <span class="right-action-buttons btn-group">
                    <a href="#" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Stop sharing" id="js-remove-sharing-key"><i class="fa fa-close fa-fw"></i></a>
                    <a href="#" class="btn btn-default btn-xs" data-toggle="tooltip" data-placement="top" title="Generate sharing key" id="js-generate-sharing-key"><i class="fa fa-refresh fa-fw"></i></a>
                    <button id="paper-secret-url" type="button" class="clipboard btn btn-default btn-xs" data-clipboard-text="#"><i class="fa fa-clipboard fa-fw" aria-hidden="true" alt="Copy to clipboard"></i></button>
                </span>
                <strong>Sharing secret key: </strong><a href="#" target="_blank" data-base-url="{{ \lib\Utils::getServerUrl() }}{{ 'paperPub', 'user='.@user->getUsername() | alias }}" class="secret" data-key="secret" data-title="Sharing secret key (5-50 numbers or letters, leave empty to stop sharing)"></a></p>
            <p class="editable"><strong>Rating: </strong><span class="rating" data-key="rating" data-title="Rating (/5)"></span></p>
        </div>
        <div id="paper-notes" style="display: none;">
            <h4>Notes</h4>
            <hr>
            <div id="paper-notes-add" class="text-center">
                <button id="paper-notes-add-btn" class="btn btn-primary">Add notes</button>
            </div>
            <div id="paper-notes-content">
                <textarea id="paper-notes-editor"></textarea>
            </div>
        </div>
        <div id="paper-bibtex" style="display: none;">
            <h4>Citation</h4>
            <hr>
            <div class="right-action-buttons">
                <button type="button" class="clipboard btn btn-default btn-xs" data-clipboard-target="#paper-citation">
                    <i class="fa fa-clipboard" aria-hidden="true" alt="Copy to clipboard"></i>
                </button>
            </div>
            <div id="paper-citation"></div>
            <h5>BibTex</h5>
            <div class="right-action-buttons-pre">
                <button type="button" class="clipboard btn btn-default btn-xs" data-clipboard-target="#paper-bibtex-content">
                    <i class="fa fa-clipboard" aria-hidden="true" alt="Copy to clipboard"></i>
                </button>
            </div>
            <pre id="paper-bibtex-content" data-key="bibtex" data-title="BibTex" data-type="textarea" data-file="bibtex"></pre>
        </div>
        <div id="paper-delete" class="text-center" style="display: none;">
            <button id="paper-delete-btn" class="btn btn-danger">Delete paper</button>
        </div>
        <br/>
    </div>
    <div id="papers-col-right-handle"></div>
    <div id="papers-col-right-open" style="display: none;"><i class="fa fa-caret-left"></i></div>
</div>

<!-- Modals -->
<div class="modal fade" id="modal-spinner" tabindex="-1" role="dialog">
    <div class="content text-center">
        <p><i class="fa fa-refresh fa-4x fa-spin"></i></p>
        <p id="modal-spinner-desc"></p>
    </div>
</div>

<form class="modal fade" id="modal-push" tabindex="-1" role="dialog" method="POST" action="{{ "gitPush" | alias }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-cloud-upload"></i> Git commit &amp; push</h4>
            </div>
            <div class="modal-body">
                <p><strong>The following changes will be commited:</strong></p>
                <div id="modal-push-status"></div>
                <div class="form-group">
                    <label for="i_commit">Commit message</label>
                    <textarea class="form-control" rows="4" name="message" id="i_commit"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Commit &amp; push</button>
            </div>
        </div>
    </div>
</form>

<form class="modal fade" id="modal-paper-edit" tabindex="-1" role="dialog" method="POST" action="#" data-base-url="{{ "paperEdit" | alias }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-pencil"></i> Edit a paper</h4>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="modal-paper-edit-value" id="modal-paper-edit-label"></label>
                    <input type="hidden" name="field" value="" />
                    <input type="hidden" name="file" value="json" />
                    <input class="form-control" name="value" id="modal-paper-edit-value" />
                    <textarea class="form-control" rows="12" name="value-textarea" id="modal-paper-edit-textarea-value" /></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</form>

<form class="modal fade" id="modal-paper-add" tabindex="-1" role="dialog" method="POST" action="{{ "paperAdd" | alias }}">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-plus"></i> Add a paper</h4>
            </div>
            <div class="modal-body">
                <p>Add a paper using one of the fields below.</p>
                <div class="form-group">
                    <label for="i_id">Document identifier. <small>arXiv ID (e.g. <code>1605.03498</code>) or DOI (e.g. <code>10.1109/ICCV.2015.311</code>)</small></label>
                    <input type="text" class="form-control" id="i_id" name="id" />
                </div>
                <div class="form-group">
                    <label for="i_bibtex">BibTex entry</label>
                    <div class="right-action-buttons-pre">
                        <a href="#" class="btn btn-default btn-xs" id="bibtex-init"><i class="fa fa-code"></i></a>
                    </div>
                    <textarea class="form-control" rows="9" id="i_bibtex" name="bibtex"></textarea>
                </div>
                <div class="form-group">
                    <label for="i_raw">Temporary text reference <small>Use this to quickly add a text reference, as a temporary reminder</small></label>
                    <textarea class="form-control" rows="3" id="i_raw" name="raw"></textarea>
                </div>
                <hr>
                <div class="form-group">
                    <label for="i_citation_key">Custom citation key <small>(optional, if not set, will be author name &amp; year)</small></label>
                    <input type="text" class="form-control" rows="9" id="i_citation_key" name="citationKey" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="submit" class="btn btn-primary">Add</button>
            </div>
        </div>
    </div>
</form>

<div class="modal fade" id="modal-settings" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"><i class="fa fa-cog"></i> Settings</h4>
            </div>
            <div class="modal-body">
                <h5>Google Drive</h5>
                <p class="text-center">
                <check if="{{ \models\GoogleDrive::instance()->isInitialized() }}">
                    <true>
                        <check if="{{ \models\GoogleDrive::instance()->isLoggedIn() }}">
                            <true>
                                <a class="btn btn-default" id="driveLogout" href="{{ "driveLogout" | alias }}" target="_blank">Logout from Google Drive</a>
                            </true>
                            <false>
                                DjLu is not yet connected to your Google Drive account.
                            </false>
                        </check>
                    </true>
                    <false>
                        Google Drive is disabled for this instance of DjLu.
                    </false>
                </check>
                </p>
                <form class="form-group single-field-edit" method="POST" action="{{ "preferences" | alias }}">
                    <label for="i_googleDriveRoot" class="control-label">Path where DjLu will store data <small>(<em>e.g.</em> Research/DjLu)</small></label>
                    <input type="hidden" name="field" value="googleDriveRoot">
                    <div class="input-group">
                        <input type="text" class="form-control" id="i_googleDriveRoot" placeholder="Path where DjLu will store data (e.g. Research/DjLu)" name="value" value="{{ @user->getPreferences()['googleDriveRoot']; }}">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary" disabled><i class="fa fa-check"></i></button>
                        </span>
                    </div>
                </form>

                <hr>
                <h5>Git repository</h5>
                <check if="{{ @user->hasRight('git') }}">
                <true>
                <form class="form-group single-field-edit" method="POST" action="{{ "settings" | alias }}">
                    <label for="i_git" class="control-label"> Git repo</label>
                    <div class="input-group">
                        <input type="text" class="form-control" id="i_git" placeholder="Git repo SSH command (e.g. git@github.com:DejaLus/demoLibrary.git)" name="git" value="{{ @user->getGit(); }}">
                        <span class="input-group-btn">
                            <button type="submit" class="btn btn-primary" disabled><i class="fa fa-check"></i></button>
                        </span>
                    </div>
                </form>
                <div class="form-group">
                    <label class="control-label"> SSH key <sup>*</sup></label>
                    <div class="input-group">
                        <input id="ssh-key" value="{{ @user->getPubkey(); }}" class="form-control" readonly>
                        <span class="input-group-btn">
                            <button type="button" class="clipboard btn btn-default" data-clipboard-target="#ssh-key">
                                <i class="fa fa-clipboard" aria-hidden="true" alt="Copy to clipboard"></i>&nbsp;&nbsp;Copy
                            </button>
                        </span>
                    </div>
                </div>
                <p><sup>*</sup> The server needs to be able to read and write on the git repository of your library through SSH. Therefore, you need to grant the server's SSH public key access to your repository. On GitHub, we suggest you use the <a href="https://developer.github.com/guides/managing-deploy-keys/#deploy-keys">Deploy Key</a> feature.</p>
                </true>
                <false>
                <p>Git feature is disabled for your account. Ask your DjLu administrator to enable it if your want to use it.</p>
                </false>
                </check>

                <hr>
                <h5>Manage account</h5>
                <p class="text-center">
                    <div id="manage-account-div">
                        <p class="text-center">
                            <button type="button" class="btn btn-default" id="btn-change-password">Change Password</button>
                            <button type="button" class="btn btn-primary" id="btn-change-password-confirm">Confirm</button>
                        </p>
                    </div>
                    <div id="change-password-div">
                        <form class="form-horizontal" id="change-form" method="POST" action="{{ 'changePassword' | alias }}">
                            <div class="form-group">
                                <label for="i_password" class="col-sm-6 control-label">Old password</label>
                                <div class="col-sm-4">
                                    <input type="password" class="form-control" id="i_old_password" placeholder="Password">
                                    <input type="hidden" id="i_old_password4" name="old_password">
                                    <input type="hidden" id="s_sid_c" value="<?php echo session_id(); ?>">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="i_password" class="col-sm-6 control-label">New password</label>
                                <div class="col-sm-4">
                                    <input type="password" class="form-control" id="i_new_password" placeholder="Password">
                                    <input type="hidden" id="i_new_password4" name="new_password">
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="i_password" class="col-sm-6 control-label">Repeat new password</label>
                                <div class="col-sm-4">
                                    <input type="password" class="form-control" id="i_confirm_password" placeholder="Password">
                                </div>
                            </div>
                        </form>
                    </div>
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
