<a id="fix-col-left" class="tag-pin papers-col-extra-content"><i class="fa fa-thumb-tack" role="button" data-toggle="tooltip" title="Prevent the window of rectracting automatically"></i></a>

<loop from="{{ @i=0 }}" to="{{ @i < count(\models\Papers::$TAGS_GROUPS) }}" step="{{ @i++ }}">
    <h3>{{ \models\Papers::$TAGS_GROUPS_LABELS[@i] }}</h3>
    <ul class="nav" data-tag-group="{{ \models\Papers::$TAGS_GROUPS[@i] }}">
        <repeat group="{{ @tags[\models\Papers::$TAGS_GROUPS[@i]] }}" key="{{ @tag }}" value="{{ @tagData }}" counter="{{ @j }}">
            <check if="{{ @j == 1 }}">
                <true>
                    <set pininfo='data-toggle="tooltip" data-placement="top" title="Unpinned tags are removed if not used in any paper"'>
                    <set countinfo='data-toggle="tooltip" data-placement="top" title="Counts might be inaccurate after editing tags until you reload the page"'>
                </true>
                <false>
                    <set pininfo="" countinfo="">
                </false>
            </check>
            <li class="tag" data-tag="{{ @tag }}">
                <span title="{{ @tag }}" class="tag-label label label-default" style="background: #{{ @tagData.color }}; color: #{{ \lib\Formatting::textColorFromBgColor(@tagData.color); }}"><span class="limited-tag">{{ @tag }}</span></span>
                <a class="tag-colorpicker label label-default papers-col-extra-content" tabindex="0" role="button" style="background: #{{ @tagData.color }}"><i class="fa fa-caret-down"></i></a>
                <a class="papers-col-extra-content tag-pin {{ @tagData.pinned ? 'pinned' : '' }}"><i class="fa fa-thumb-tack" role="button" {{ @pininfo }}></i></a>
                <span class="badge papers-col-extra-content" {{ @countinfo }}>{{ @tagData.count ? @tagData.count : 0 }}</span>
            </li>
        </repeat>
    </ul>
    <p class="text-right"><a href="#" class="btn btn-default btn-xs tags-reset papers-col-extra-content" data-tag-group="{{ \models\Papers::$TAGS_GROUPS[@i] }}">Reset filters</a></p>
</loop>
<script type="text/javascript">
var tags = {{ json_encode(@tags) }};
</script>